name: Tests

on:
  pull_request:
  schedule:
  - cron: "0 15 * * SAT"

jobs:
  unit-tests:
    uses: canonical/operator-workflows/.github/workflows/test.yaml@main
    secrets: inherit
    with:
      with-uv: true
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      charmcraft-channel: latest/edge
      provider: lxd
      juju-channel: 3.6/stable
      with-uv: true
  allure-report:
    if: ${{ !cancelled() && github.event_name == 'schedule' }}
    needs:
    - integration-tests
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
