name: Tests

on:
  pull_request:

jobs:
  unit-tests:
    uses: canonical/operator-workflows/.github/workflows/test.yaml@main
    secrets: inherit
    with:
      self-hosted-runner: false
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      self-hosted-runner: false
      charmcraft-channel: latest/edge
      provider: lxd
      juju-channel: 3.6/stable
  allure-report:
    if: always() && !cancelled()
    needs:
      - integration-tests
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
